.box2{
    display:flex;
    float:left;
}
img{
    width:100px;
    height:100px;
    border-radius: 100%;
}

.card-body{
    display:flex;
    float:left;
    text-align: center;
}


.card{
    background-color: whitesmoke;
    margin:20px;
    width: 300px;
    height:150px;
}

.App{
   display:flex;
    float:left;
    margin-left: 10px;
}

.content{
    background-color:whitesmoke;
    border: 2px solid rgb(220, 213, 213);
    margin-left:20px;
    border-radius:10px;
    margin-top:510px;
    width:99%;
    height:300px;
}
.image{
    border-radius:0;
    width:50px;
    height:50px;
}
.abt{
    display:flex;
    float:left;
}
.tabt{
    margin-left:20px;

}
p{
    font-size: 10px;
}